*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-white-1: #F1F6F9;
    --color-white-2: #EEF5FF;
    --color-white-3: #E7E6EB;
    --color-white-4: #f4f4f5;
    --color-blue-light: #B4D4FF;
    --monaco-red: #E72929;
    --estonia-blue: #19A7CE;
    --estonia-black: #181823;
    --finland-blue: #22668D;
    --czech-red: #C21010;
    --uk-dark-blue: #233E8B;
    --color-yellow: #F7FD04;
    --color-orange: #F98404;
    --color-purple: #C67ACE;
    --color-green: #28B5B5;
    --color-purple-dark: #121117;
    --color-purple-light: #807C92;
    --color-grey: #24232b;
    --color-green-light: #A3FFAE;
    --color-black-2: #191820;
    --color-black-3: #23222a;
    --color-black-4: #504f55;

    /*BOX SHADOW VAR*/
    --shadow-ultra-mini: 0 1rem 2.5rem rgba(0, 0, 0, 0.03);
    --shadow-mini: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.03);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

html {
    visibility: inherit;
    font-size: 62.5%; /*10PX*/
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--color-purple-dark);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0 2.5rem;
}

button {
    font-family: inherit;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1.35fr 1fr;
    grid-template-rows: 3.5rem 1fr;
    gap: 5rem;
    max-width: 117rem;
    margin: 7.5rem auto 0 auto;
}

.main-heading {
    color: var(--color-purple-light);
    font-size: 2.4rem;
    text-align: center;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout__group1 {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey);
    padding: 3rem;
    gap: 2rem;
    box-shadow: var(--shadow-mini);
}

.layout__group3 {
    padding: 3rem;
    background-color: var(--color-grey);
    box-shadow: var(--shadow-mini);
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.layout__group1 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout__group1 > div span {
    color: var(--color-white-3);
    font-size: 2rem;
    font-weight: 500;
}

.range-value {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-green-light);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, var(--color-green-light) 16%, var(--color-black-2) 16%);
    border-radius: 0;
    height: 6px;
    margin-bottom: 1.5rem;
} 

/* Thumb: webkit browsers*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 25px;
    width: 25px;
    background-color: var(--color-white-3);
    border-radius: 50%;
    border: 2px solid var(--color-white-3);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 25px;
    background-color: var(--color-white-3);
    border-radius: 50%;
    border: 2px solid var(--color-white-3);
    transition: all .1s ease-in-out;
}

/* Hover & active Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--color-black-2);
    border: 2px solid var(--color-green-light);
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: var(--color-black-2);
    border: 2px solid var(--color-green-light);
}

/* Hover & active Thumb: Firefox */
  
input[type="range"]::-moz-range-thumb:hover {
    background-color: var(--color-black-2);
    border: 2px solid var(--color-green-light);
}

input[type="range"]:active::-moz-range-thumb {
    background-color: var(--color-black-2);
    border: 2px solid var(--color-green-light);
}

.etch__flex-cont {
    width: 100%;
    border: 8px solid var(--color-green-light);
    background-color: var(--color-white-4);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-dark);
}

.etch__flex-row {
    flex: 1;
    display: flex;
}

.etch__box {
    color: var(--color-white);
    flex: 1;
    transition: all 0.3s ease-out;
    cursor: cell;
}

.range-btn {
    border: none;
    background-color: var(--color-green-light);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    border: 2px solid var(--color-green-light);
    cursor: pointer;
    box-shadow: var(--shadow-ultra-mini);
}

.range-btn-icon,
.range-btn {
    color: var(--color-black-3);
    transition: all 0.2s ease-in-out;
}

.range-btn:hover,
.range-btn:active,
.range-btn:hover .range-btn-icon,
.range-btn:active .range-btn-icon  {
    background-color: transparent;
    color: var(--color-green-light);
}

.etch__colors {
    display: flex;
    gap: 3rem;
    grid-column: 1 / -1;
    margin-top: 2.5rem;
    background-color: var(--color-grey);
    padding: 3rem;
    box-shadow: var(--shadow-mini);
}

.etch__color-box {
    cursor: pointer;
    transition: all .2s;
    flex: 1;
}

.etch__color-box:hover {
    transform: scale(1.05);
}

.etch__color-box--7 {
    background-color: var(--monaco-red);
}

.etch__color-box--4 {
    background-color: var(--estonia-blue);
}

.etch__color-box--1 {
    background-color: var(--estonia-black);
}

.etch__color-box--3 {
    background-color: var(--finland-blue);
}

.etch__color-box--6 {
    background-color: var(--czech-red);
}

.etch__color-box--2 {
    background-color: var(--uk-dark-blue);
}

.etch__color-box--10 {
    background-color: var(--color-yellow);
}

.etch__color-box--9 {
    background-color: var(--color-orange);
}

.etch__color-box--8 {
    background-color: var(--color-purple);
}

.etch__color-box--5 {
    background-color: var(--color-green);
}

.is-used {
    outline-offset: 15px;
    transform: scale(1.05);
    outline: 3px solid var(--color-green-light);
    transition: all .3s;
}

.op-10 {
    opacity: 10%
}

.op-20 {
    opacity: 20%
}

.op-30 {
    opacity: 30%
}

.op-40 {
    opacity: 40%;
}

.op-50 {
    opacity: 50%
}

.op-60 {
    opacity: 60%;
}

.op-70 {
    opacity: 70%
}

.op-80 {
    opacity: 80%;
}

.op-90 {
    opacity: 90%
}

.op-100 {
    opacity: 100%;
}


.game-modes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.game-modes > button {
    color: var(--color-white);
    background-color: var(--color-grey);
    border: 4px solid var(--color-green-light);
    font-size: 1.6rem;
    padding: 2rem;
    cursor: pointer;
    cursor: pointer;
    transition: all .2s;
}

.game-modes > button:hover {
    transform: scale(1.05);
}

.attribution {
    margin-top: auto;
    list-style: none;
}

.attribution li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.attribution a:link,
.attribution a:visited {
    color: var(--color-green-light);
    display: inline;
}