*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-white-1: #F1F6F9;
    --color-white-2: #EEF5FF;
    --color-blue-light: #B4D4FF;
    --monaco-red: #E72929;
    --estonia-blue: #19A7CE;
    --estonia-black: #181823;
    --finland-blue: #22668D;
    --czech-red: #C21010;
    --uk-dark-blue: #233E8B;
    --color-yellow: #F7FD04;
    --color-orange: #F98404;
    --color-purple: #C67ACE;
    --color-green: #28B5B5;
}

html {
    overflow-x: hidden;
    font-size: 62.5%; /*10PX*/
}

.etch__flex-cont {
    max-width: 48rem;
    border: 8px solid var(--color-blue-light);
    background-color: var(--color-white-1);
    border-radius: 3rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.etch__flex-row {
    flex: 1;
    display: flex;
}

.etch__box {
    color: var(--color-white);
    flex: 1;
    transition: all 0.225s;
}

.etch__color-box {
    padding: 5rem;
}

.etch__color-box--1 {
    background-color: var(--monaco-red);
}

.etch__color-box--2 {
    background-color: var(--estonia-blue);
}

.etch__color-box--3 {
    background-color: var(--estonia-black);
}

.etch__color-box--4 {
    background-color: var(--finland-blue);
}

.etch__color-box--5 {
    background-color: var(--czech-red);
}

.etch__color-box--6 {
    background-color: var(--uk-dark-blue);
}

.etch__color-box--7 {
    background-color: var(--color-yellow);
}

.etch__color-box--8 {
    background-color: var(--color-orange);
}

.etch__color-box--9 {
    background-color: var(--color-purple);
}

.etch__color-box--10 {
    background-color: var(--color-green);
}

.etch__colors {
    margin-bottom: 150rem;
}